
// _base.scss:
@import 'variables';

html, body {
  height: 100%;
    font-size: 18px;
}

body {
  font-family: Arial, sans-serif;
  color: $black;
  line-height: 1.6;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
div, article, header, section, aside, span, footer, header {
  box-sizing: border-box;
}
.transition {
  transition: ease-in-out .4s;
}

