// _base.scss
@import 'variables';

body {
  font-family: Arial, sans-serif;
  color: $color-black;
  line-height: 1.6;
  background-color: $color-white;
}

a {
  $color-white: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}