@import 'variables';

.game-card {
  background-color: aquamarine; //bytt farge
  padding: $card-padding;
  margin: $card-margin;
  display: flex;
  align-items: center;

  
  img {
    width: 30%; 
    height: auto;
    object-fit: contain; 
    margin-right: $card-padding; /* Lagt til litt mellomrom mellom bildet og teksten */
  }

  .text-content {
    flex: 1; /* Bruker resten av tilgjengelig plass */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      color: $black;
      text-decoration: none;
    
      &:hover {
        text-decoration: underline;
      }
    }
    h3 {
      margin-bottom: $card-margin;
    }

    button.add-to-favourites {
      align-self: flex-end;
      background-color: $black;
      color: $white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
  }
}