// _game-page.scss
@import 'variables';


.game-page {
  background-color: $white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;


.game-card-text{
  position: center;
  width: 100%;
  max-width: 1400px;
  padding: $card-padding;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;


  .game-card-image {
    position: center;
    padding: $card-padding;
    margin: $card-margin;
    display: grid;
    flex-direction: row;
    align-items: center;

    img {
      width: 60%;
      height: 100%;
      object-fit: cover;
    }
    .game-card-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: $text-content-width;
    }
      h3 {
        margin-bottom: $card-margin;
      }

      button {
        align-self: flex-end;
      }
    
  }
}
