// _game-card.scss


.gameShop{
  position: center;
  width: 100%;
  max-width: 1200px;
  padding: $card-padding;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;

  .game-card {
    position: center;
    padding: $card-padding;
    margin: $card-margin;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 60%;
      height: 100%;
      object-fit: cover;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: $text-content-width;
    }
      h3 {
        margin-bottom: $card-margin;
      }

      button {
        align-self: flex-end;
      }
    

  }
}