@import 'variables';

.myfavourites {
  width: 100%;
  max-width: $maxwidth;
  padding: $gaps;
  margin-bottom: $gaps;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid $black;

  .game-card {
    width: 100%;
    margin-bottom: $gaps;
  }
}