// _variables.scss for fargevariabler
// _variables.scss for fargevariabler
$color-lightgrey: #f0f0f0;
$color-darkgrey: #333333;
$color-black: #000000;
$color-white: #ffffff;
$border-color: #2a2a2a;

// Legg til fargene og verdiene som ble brukt i _game-card.scss
$card-bg-color: $color-white; // bakgrunnsfargen til spillet kort
$text-color-dark: $color-black; // tekstfarge for mørk tekst, som titler
$text-color-light: $color-darkgrey; // tekstfarge for lys tekst, som beskrivelser
$accent-color: $color-darkgrey; // aksentfarge, brukt for knapper
$border-radius: 10px; // border radius, brukt for kort og knapper
$spacing: 20px; // generell avstand, brukt for padding
$spacing-sm: 10px; // mindre avstand, brukt for marginer
$spacing-xs: 5px; // enda mindre avstand, brukt for marginer
$box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); // boks skygge, brukt for kort
$box-shadow-hover: 0px 2px 10px rgba(0, 0, 0, 0.2); // boks skygge når hover, brukt for kort
$transition: 0.3s ease; // overgang, brukt for hover effekter