// _variables.scss for fargevariabler

$main-bg-color: #ffffff;
$header-footer-color: #000000;
$light-gray: #f3f3f3;
$card-padding: 10px;
$card-margin: 10px;
$game-card-image-width: 70%;
$text-content-width: 70%;
$border-color: lightgrey;
$black: #000000;
$white: #ffffff;
$red: #C00100;
$orange: #FFA100;
$green: #6ea100;
$dark-grey: #232323;
$maxwidth: 1200px;
$maxsentencelength: 60rem;
$gaps: 1.5rem;
$warning: $orange;
$success: $green;
$error: $red;


$headerfont: 'Kanit', sans-serif;
$textfont: 'Mulish', sans-serif;

